<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Customers</title>
</head>
<body>
<h1>Customer Database</h1>

<form action="index.html" th:action="'/'" method="get">
    <input type="text" name="find" value="" th:value="${find}" placeholder="Search" />
    <button>Search</button>
</form>

<ol th:each="customer: ${customers}">
    <li th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' ' + ${customer.phone} + ' ' + ${customer.email}"></li>
</ol>

<a th:href="'/customerForm'">Create a Customer</a>
<a th:href="'/deleteCustomerForm'">Delete a Customer</a>
<a th:href="'/updateCustomerForm'">Update a Customer</a>

</body>
</html>